.page-header-background {
  overflow: hidden;
  margin-top: 10px
}

#background-img {
  background-image: url('../../../../assets/images/conservation.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: .6;
  }
}

.page-header-section {
  text-align: center;
  height: 400px;
  position: relative;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  letter-spacing: 1px;
  transform: translate(-50%, -50%);
  width: 100%;
}

.content-wrapper {
  padding-top: 55px;
  min-height: 800px;
}

.tabs {
  margin: 15px;
}


@media screen and (max-width: 864px) {
  .content-wrapper {
    padding-top: 0;
  }

  .page-header-section {
    text-align: center;
    height: 300px;
  }
}
