<div class="page-header-background">
  <div class="page-header-section fadeIn">
    <div id="background-img"></div>
    <div class="mat-display-2 center-text">
      <mat-icon>public</mat-icon>
      Conservation
    </div>
  </div>
</div>

<div class="content-wrapper">
  <mat-tab-group class="tabs">
    <mat-tab label="Showers And Faucets">
      <app-showers-faucets></app-showers-faucets>
    </mat-tab>

    <mat-tab label="Home Improvement">
      <app-home-improvement></app-home-improvement>
    </mat-tab>

    <mat-tab label="Major Appliances">
      <app-major-appliances></app-major-appliances>
    </mat-tab>

    <mat-tab label="Major Water Applications">
      <app-major-water-applications></app-major-water-applications>
    </mat-tab>

    <mat-tab label="Water Friendly Landscaping">
      <app-water-friendly-landscaping></app-water-friendly-landscaping>
    </mat-tab>

    <mat-tab label="Kitchen and Bathroom">
      <app-kitchen-bathroom></app-kitchen-bathroom>
    </mat-tab>

  </mat-tab-group>
</div>

