<mat-sidenav-container class="sidenav-container" style="background: white;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: white;">Menu</mat-toolbar>
    <mat-nav-list *ngIf="navbarService.visible">
      <a mat-list-item routerLink="/home" (click)="drawer.close()">
        <mat-icon class="icon">home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/pay-my-bill" (click)="drawer.close()">
        <mat-icon class="icon">credit_card</mat-icon>
        Pay My Bill
      </a>
      <a mat-list-item routerLink="/usage" (click)="drawer.close()">
        <mat-icon class="icon">insert_chart</mat-icon>
        Usage
      </a>
      <a mat-list-item routerLink="/outages" (click)="drawer.close()" >
        <mat-icon class="icon">assignment_ind</mat-icon>
        My Reports
      </a>
      <a mat-list-item routerLink="/my-account" (click)="drawer.close()">
        <mat-icon class="icon">settings</mat-icon>
        My Account
      </a>
      <a mat-list-item (click)="logout()" (click)="drawer.close()">
        <mat-icon class="icon">logout</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="background-theme">
    <mat-toolbar class="nav-bar" *ngIf="navbarService.visible">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button 
              (click)="drawer.toggle()" id="menu-icon">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="brand">My Utility Services</span>
      <span class="spacer"></span>
      <ul class="nav-list">
        <a routerLink="/home" class="nav-list-item">
          <button mat-button>
            <mat-icon class="icon">home</mat-icon>
            Home
          </button>
        </a>
        <a routerLink="/pay-my-bill" class="nav-list-item">
          <button mat-button>
            <mat-icon class="icon">credit_card</mat-icon>
            Pay My Bill
          </button>
        </a>
        <a routerLink="/usage" class="nav-list-item">
          <button mat-button>
            <mat-icon class="icon">insert_chart</mat-icon>
            Usage
          </button>
        </a>
        <a routerLink="/outages" class="nav-list-item">
          <button mat-button>
            <mat-icon class="icon">assignment_ind</mat-icon>
            My Reports
          </button>
        </a>
        <a routerLink="/my-account" class="nav-list-item">
          <button mat-button>
            <mat-icon class="icon">settings</mat-icon>
            My Account
          </button>
        </a>
        <a (click)="logout()" class="nav-list-item">
          <button mat-button>
            <mat-icon class="icon">logout</mat-icon>
            Logout
          </button>
        </a>
      </ul>
    </mat-toolbar>
    <mat-progress-bar *ngIf="loading"
    style="padding: 3px 0; 
    margin-top: -4px;" mode="indeterminate">
    </mat-progress-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>