<app-pay-bill-nav></app-pay-bill-nav>
<div class="page-container">
  <div class="row-container">
    <div class="col-list fadeInLeft">
      <mat-list>
        <div class="mobile">
          <h3 class="mat-h2 sect-header">Previous Payments</h3>
        </div>
        <mat-divider class="mobile"></mat-divider>
        <mat-list-item *ngFor="let bill of bills$ | async">
          <h3 matLine id="card-num">From Card -- {{bill.cardNum}}</h3>
          <h3 matLine id="amount-paid">Amount Paid: ${{bill.amountThisPeriod}}</h3>
          <p matLine id="paid-date">
            <span>Paid On: {{bill.billDate | date}} </span>
          </p>
          <div matline class="mobile-link">
            <button mat-flat-button [routerLink]="['/previous-payments', bill.id]">View Details</button>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <div class="mat-h3" style="text-align: center; margin: 15px 5px;">
        Your previous payments are kept for a year.
      </div>
    </div>
    <div class="detail-container mobile fadeInUp">
      <app-bill-detail></app-bill-detail>
    </div>
  </div>
</div>
