<footer class="footer-distributed">

  <div class="footer-left">
    <img id="logo" src="../assets/images/My_Utilities.png">
    <h2 class="mat-h2">My Utility Services</h2>
    <p class="footer-company-name">© 2020 My Utility Services LLC</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="material-icons">location_on</i>
      <p><span>Glendora, CA 91740</span></p>
    </div>

    <div>
      <i class="material-icons">phone</i>
      <p>(626) 922-5392</p>
    </div>
    <div>
      <i class="material-icons">email</i>
      <p><a href="mailto:darnold@mus.com">darnold@mus.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
        <i style="color:white;"  class="material-icons">
            business</i>
      <span>About the company</span>
      My Utility Services is on the forefront of bringing easy to use technology to the utility industry that requires minimal training with no increase to your current staff.</p>
    <div class="footer-icons">
      <a href="https://twitter.com/MyUtilityServ" target="_blank"><img src="../assets/images/twitter.svg" alt="twitter"></a>
      <a href="https://www.instagram.com/myutilityservices/" target="_blank"><img src="../assets/images/instagram.svg" alt="instagram"></a>
      <a href="https://www.facebook.com/MyUtilityServices/" target="_blank"><img src="../assets/images/facebook.svg" alt="facebook"></a>
    </div>
  </div>
