<h1 mat-dialog-title style="text-align: center;">Update Phone Number</h1>
<form [formGroup]="accountPhoneFormControl" (ngSubmit)="onUpdate()">
  <div mat-dialog-content>
    <p>Enter your new Phone Number</p>
    <mat-form-field style="width: 100%;">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNum">
      <mat-error *ngIf="!accountPhoneFormControl.controls['phoneNum'].valid">
        {{getErrors('phoneNum')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="justify-content: center;">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button cdkFocusInitial type="submit" id="update-btn">
      Update
    </button>
  </div>
</form>
