<div class="outage-container" id="desktop">
  <div class="col-list" style="overflow: auto;">
    <div id="tab-container">
      <mat-tab-group>
        <mat-tab label="Current Outages">
          <app-current-outages></app-current-outages>
        </mat-tab>
        <mat-tab label="Planned Outages">
          <app-planned-outage></app-planned-outage>
        </mat-tab>
        <mat-tab label="My Outages">
          <app-my-outages></app-my-outages>
        </mat-tab>
        <mat-tab label="My Service Requests">
          <app-my-service-requests></app-my-service-requests>
        </mat-tab>
      </mat-tab-group>
      <div class="mat-h4" style="text-align: center; margin: 10px;">
        Outage reports disappear 24 hours after they are resolved.
      </div>
      <div style="display: flex; justify-content: center;">
        <button id="report-btn" (click)="openReportOutageDialog()"
         mat-raised-button>Report Outage</button>
         <button id="service-req-btn" (click)="openServiceRequestDialog()"
         mat-raised-button>Service Request</button>
      </div>
    </div>
  </div>
  <div class="col-map">
    <app-agm-map></app-agm-map>
  </div>
</div>

<div id="mobile">
  <app-agm-map></app-agm-map>
  <div class="menu-section" (click)="openMobileOutageMenu()">
    <div style="display: flex; justify-content: center; margin-top: 10px;">
      <i class="material-icons" mat-ripple matRippleUnbounded
          style="background: whitesmoke; border-radius: 50%;">
        keyboard_arrow_up
      </i>
    </div>
    <div class="mat-h3" style="text-align: center; color: #266BC5;">Reports Menu</div>
  </div>
</div>
