.form-container {
    margin: 10px 35px;
}

.form-field {
    width: 100%;
}

.mat-h1 {
    text-align: center;
}

.submit-btn {
    background: #26374D;
    color: white !important;
    width: 100%;
    margin: 15px 0;
}

@media (max-width: 425px) {
    .form-container {
        margin: 0;
    }
}