<div class="list-container">
<mat-list class="fadeInLeft">
  <mat-list-item *ngFor="let outage of outages$ | async">
    <img matListAvatar [src]="outage.imgUrl"  alt="..." id="mobile-view-ava">
    <h3 matLine style="font-weight: bold; text-decoration: underline;">{{outage.type}}</h3>
    <h3 matLine style="color:rgb(233, 157, 76); font-weight: bold;">Location: {{outage.location}}</h3>
    <h3 matLine style="font-weight: bold;" [ngClass]="{'waiting-status': outage.status === 'Waiting On Utility Response',
    'pending-status': outage.status === 'Being Processed',
    'progress-status': outage.status === 'Working On'}">
    Status: {{outage.status}}</h3>
    <h3 matLine style="font-weight: bold;">{{outage.comment}}</h3>
    <p matLine><span
      (click)="openCurrentOutageDetailsDialog()"
      style="text-decoration: none; color:#0056B3; cursor: pointer;">
      Click for more details
    </span>
    </p>
    <p matLine>
      <span> {{outage.date | date:'medium'}} </span>
    </p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
</div>
