<div class="form-container">
    <div class="mat-h1">Account Inquiries</div>
    <form [formGroup]="accountInquiryFormControl" id="invalid-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field">
            <mat-label>Inquiry Type</mat-label>
            <mat-select formControlName="inquiryType" required>
                <mat-option *ngFor="let inquiry of inquiries" [value]="inquiry.value">
                    {{inquiry.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!accountInquiryFormControl.controls['inquiryType'].valid">
                {{getErrors('inquiryType')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Scheduled Date</mat-label>
            <input matInput [matDatepicker]="picker" required formControlName="scheduledDate">
            <mat-error *ngIf="!accountInquiryFormControl.controls['scheduledDate'].valid">
                {{getErrors('scheduledDate')}}
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input matInput disabled value="lisaA@gmail.com">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Account Number</mat-label>
            <input matInput disabled value="GH8722617812">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Full Name</mat-label>
            <input matInput disabled value="Lisa Ackley">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Address</mat-label>
            <input matInput disabled value="1234 Hope St.">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>City</mat-label>
            <input matInput disabled value="San Gabriel">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Zip Code</mat-label>
            <input matInput disabled value="91775">
        </mat-form-field>
        <button class="submit-btn" type="submit" mat-raised-button>Submit</button>
    </form>
</div>