<div class="page-header-background">
  <div class="page-header-section fadeIn">
    <div id="background-img"></div>
    <div class="mat-display-2 center-text">
      <mat-icon>school</mat-icon>
      Education
    </div>
  </div>
</div>

<div class="content-wrapper">
  <mat-tab-group class="tabs">

    <mat-tab label="Home">
      <app-home-education></app-home-education>
    </mat-tab>

    <mat-tab label="Business">
      <app-business-education></app-business-education>
    </mat-tab>

    <!-- <mat-tab label="Outdoors">
      <app-outdoors-education></app-outdoors-education>
    </mat-tab> -->

    <mat-tab label="General">
      <app-general-education></app-general-education>
    </mat-tab>

  </mat-tab-group>
</div>
