<h1 mat-dialog-title style="text-align: center;">Update Password</h1>
<form [formGroup]="accountPasswordFormControl" (ngSubmit)="onUpdate()">
  <div mat-dialog-content>
    <p>Enter your previous Password</p>
    <mat-form-field style="width: 100%;">
      <mat-label>Previous Password</mat-label>
      <input matInput type="password" formControlName="previousPassword">
      <mat-error *ngIf="!accountPasswordFormControl.controls['previousPassword'].valid">
        {{getErrors('previousPassword')}}
      </mat-error>
    </mat-form-field>
    <p>Enter your new Password</p>
    <mat-form-field style="width: 100%;">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="!accountPasswordFormControl.controls['password'].valid">
        {{getErrors('password')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="!accountPasswordFormControl.controls['confirmPassword'].valid">
        {{getErrors('confirmPassword')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="justify-content: center;">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button id="update-btn" type="submit" cdkFocusInitial>
      Update
    </button>
  </div>
</form>
