.pay-bill-form, .form-field {
    width: 100%;
  }
  
.form-field-col {
    width: 50%;
  }

#check-btn {
    margin-top: 5px;
    margin-bottom: 15px;
    background: #26374D; 
    color: white;
  }

@media (max-width: 770px) {
    .form-field-col {
        width: 100%;
    }
}