<div class="social-container">
  <a href="https://twitter.com/MyUtilityServ" target="_blank">
    <img style="padding-left: 0;" src="../assets/images/social-media-icons/twitter.svg" alt="">
  </a>
  <a href="https://www.instagram.com/myutilityservices/" target="_blank">
    <img src="../assets/images/social-media-icons/instagram.svg" alt="">
  </a>
  <a href="https://www.facebook.com/MyUtilityServices/" target="_blank">
    <img src="../assets/images/social-media-icons/facebook.svg" alt="">
  </a>
</div>
