<mat-toolbar id="page-header">
    <mat-toolbar-row class="header-row" style="margin-top: 0;">
        <div class="mat-h2" style="margin-bottom: 0;">Hi, Lisa!</div>
      </mat-toolbar-row>
  <mat-toolbar-row class="header-row">
    <img [src]="imgUrl" alt="">
  </mat-toolbar-row>
  <mat-toolbar-row class="header-row">
    <div class="mat-h2">Today is {{date | date}}</div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="page-container">
  <div class="row-container">
    <div class="col">
      <mat-card class="card fadeInUp">
        <mat-card-header class="card-header">
          <mat-card-title *ngIf="notifications$ | async as notifications"
          class="card-title" matBadge="{{notifications.length}}"
          matBadgeOverlap="false"
          matBadgeColor="warn"
          matBadgePosition="above after">Notifications</mat-card-title>
        </mat-card-header>
        <div class="mat-list-container">
          <mat-list>
            <mat-list-item (click)="openNotification()" *ngFor="let notification of notifications$ | async">
              <mat-icon matListIcon
              [ngClass]="{'payment-made': notification.icon === 'check_circle',
                        'planned-outage': notification.icon === 'build',
                        'unplanned-outage': notification.icon === 'pin_drop',
                        'upcoming-payment': notification.icon === 'alarm',
                        'usage-summary': notification.icon === 'insert_chart'}">
              {{notification.icon}}
              </mat-icon>
              <h3 matLine>{{notification.title}} </h3>
              <p matLine>
                <span>{{notification.message}}</span>
              </p>
              <p matLine>
                <span>Sent: {{notification.date | date }}</span>
              </p>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="card fadeInUp">
        <a routerLink="/usage">
          <mat-card-header class="card-header" style="margin-bottom: 35px;">
            <mat-card-title class="card-title">Usage</mat-card-title>
          </mat-card-header>
        </a>
          <app-chart-dollars></app-chart-dollars>
      </mat-card>
    </div>
  </div>
  <div class="row-container">
    <div class="col">
      <mat-card class="card fadeInUp">
        <a routerLink="/outages">
          <mat-card-header class="card-header">
            <mat-card-title class="card-title" *ngIf="outages$ | async as outages"
            class="card-title" matBadge="{{outages.length}}"
            matBadgeOverlap="false"
            matBadgeColor="warn"
            matBadgePosition="above after">Reports</mat-card-title>
          </mat-card-header>
        </a>
        <div id="outage-container">
          <app-current-outages></app-current-outages>
        </div>
        <div style="display: flex; justify-content: center;">
          <button id="report-btn" (click)="openReportOutageDialog()" mat-raised-button>Report Outage</button>
          <button id="service-req-btn" (click)="openServiceRequestDialog()" mat-raised-button>Service Request</button>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="card fadeInUp" id="pay-bill-card">
        <a routerLink="/pay-my-bill">
          <mat-card-header class="card-header">
            <mat-card-title class="card-title">
              Pay My Bill
            </mat-card-title>
          </mat-card-header>
        </a>
        <div id="table-container" style="overflow: auto;">
          <div *ngIf="currentBill$ | async as bill">
            <div class="row-detail mat-h1" id="bill-detail-header">
              Current Bill
            </div>
            <div class="row-detail">
              <div class="sm-col">
                Bill Date
              </div>
              <div class="sm-col">
                {{bill.billDate | date}}
              </div>
            </div>
            <div class="row-detail">
              <div class="sm-col">
                Due Date
              </div>
              <div class="sm-col">
                {{ bill.dueDate | date}}
              </div>
            </div>
            <div class="row-detail">
              <div class="sm-col">
                Total Bill This Period
              </div>
              <div class="sm-col">
               ${{bill.totalDue}}
              </div>
            </div>
            <div class="row-detail">
              <div class="sm-col">
                Previous Balanced Owed
              </div>
              <div class="sm-col">
               ${{bill.previousBalance}}
              </div>
            </div>
            <div class="row-detail" style="border-bottom: none;">
              <div class="sm-col">
                Total Due
              </div>
              <div class="sm-col">
               ${{bill.totalDue}}
              </div>
            </div>
          </div>
        </div>
      </mat-card>

    </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="line-scale-party">
    <p style="color: white;">Creating your account...</p>
  </ngx-spinner>
</div>
